*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fs_15{
    font-size: 1.5em !important;
}


/* body */
.container{
    width: 80%;
    margin: 0 auto;
    background-color: lightblue;
    height: 100vh;
}

/* logo */
.img_box{
    text-align: center;
}

.img_box > img{
    max-width: 500px; /*max width pari alla dimensione massima dell'immagine 500 x 250*/
    width: 100%;
}

/* input  */
.input_box{
    max-width: 800px;
    margin: 5px auto;
    text-align: center;
}

.input_box > input{ /*input type text*/
    width: 40%;
    vertical-align: bottom;
}

/* todo list */

.todolist{
    padding: 20px;
    background-color: #dfd8d8;
    margin: 0px 20px;
}

.todolist li{
    font-size: 20px;
    margin: 10px 0px;
    list-style: none;
    border-bottom: 2px solid white;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container > div:nth-child(3){ /* */
    padding: 5px;
    max-width: 80%;
    margin: 0 auto;
}